@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes react-spinners-BarLoader-short {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #D0D5DD;
    border-radius: 8px;
}

::selection {
    background: #D0D5DD;
}

.task-delete {
    animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
